body{
    background-color: rgb(22, 16, 8);
}
.jumbotron{
    margin: 0%;
}
.head{
    margin-left: 350px;
     border: 4px ridge rgba(61, 17, 87, 0.918);
      width: 50%;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: green;
}
li{
    cursor: pointer;
}
:hover.jav{
    color: rgb(102, 255, 0);
}
:hover.ope{
    color: rgb(102, 255, 0);

}
:hover.var{
    color: rgb(102, 255, 0);

}:hover.varName{
    color: rgb(102, 255, 0);

}:hover.func{
    color: rgb(102, 255, 0);

}:hover.meth{
    color: rgb(102, 255, 0);

}:hover.arg{
    color: rgb(102, 255, 0);

}:hover.par{
    color: rgb(102, 255, 0);

}:hover.ret{
    color: rgb(102, 255, 0);

}:hover.chain{
    color: rgb(102, 255, 0);

}:hover.str{
    color: rgb(102, 255, 0);

}:hover.boo{
    color: rgb(102, 255, 0);

}:hover.und{
    color: rgb(102, 255, 0);

}:hover.nan{
    color: rgb(102, 255, 0);

}:hover.null{
    color: rgb(102, 255, 0);

}:hover.alt{
    color: rgb(102, 255, 0);

}
:hover.com{
    color: rgb(102, 255, 0);

}
:hover.jqu{
    color: rgb(102, 255, 0);

}
:hover.attr{
    color: rgb(102, 255, 0);

}
:hover.syn{
    color: rgb(102, 255, 0);

}
:hover.button{
    color: rgb(102, 255, 0);

}
p{
    text-indent: 10px;
    font-size: 20px;
    font-style: italic;
}
li{
    font-size: 20px;
    font-style: italic;
    font-style: bold;
}
a{
    color: rgb(197, 130, 75);
    border: 4px ridge rgb(212, 4, 4);
   margin: 25px;
   padding: 4px;
   border-radius: 20px;
   background-color: lightgoldenrodyellow;
}
  
:hover link {
    color: rgb(123, 0, 139);
}
.link{
    margin-top: 0.20%;
   
}
.javhead{
    background-color: rgb(223, 201, 9);
}
table,th,td{
    border: 2px ridge red;
}
th,td{
  padding-left: 25px;
}